body {
    margin-top: 30px;
    padding: 0;
    background-image: url("../pictures/weblayout3.jpg");
    background-size: 100%;
}
#canvas{
    z-index: 999;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: none;
}
#gameSpace{
    margin:auto;
    max-width:600px;
    max-height:600px;
}
#startPage{
    padding: 30px;
    font-size: 70%;
    background-image: url("../pictures/background.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width:280px;
    height:380px;
    box-shadow: 6px 7px 8px 9px black;
}
#startPage h1 {
    padding-top:30px;
    font-size: 4em;
    margin: .67em 0;
    margin-bottom: 1.8em;
    text-shadow: 2px 3px 2px #000;
}
#instruction{
    display: none;
    padding: 30px;
    font-size: 70%;
    background-image: url("../pictures/background.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width:280px;
    height:380px;
    box-shadow: 6px 7px 8px 9px black;
    margin-top: 0;
}
#startPage .btn {
    margin-top: 2em;
    width: 50%;
    max-width: 260px;
    border-color: #357ebd;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 120%;
    line-height: 1.33;
    border-radius: 6px;
}
.btn {
    display: block;
    margin: auto;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: auto;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 120%;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
a {
    text-decoration: none;
}
#grid-container{
    width: 86%;
    height: 67%;
    padding: 20px;
    margin-top:50px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    border:4px solid transparent;
    border-color: white;
    display: none;
}
#grid-container2{
    width: 86%;
    height: 67%;
    padding: 20px;
    margin-top:50px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    border:4px solid transparent;
    border-color: white;
    display: none;
}
.map{
    width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px 30px black;
    background-color:black;
    height: 30%;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
    -webkit-animation: anim1 ease-in-out 2s;
    animation-duration: 2s;
}
.map2{
    width: 23%;
    border-radius: 12px;
    box-shadow: 5px 5px 30px black;
    background-color:black;
    height: 23%;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
    -webkit-animation: anim1 ease-in-out 2s;
    animation-duration: 2s;
}
@-webkit-keyframes anim1{
    from { -webkit-transform: scale(1.0) rotate(380deg) }
    50%  { -webkit-transform: scale(0.8) rotate(180deg)}
    to   { -webkit-transform: scale(1.0) rotate(0deg)}
}
.map:hover,.map2:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#sequence1{
    display: none;
    width:15%;
    margin:auto;
    opacity: 1;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
    background:rgba(0,0,0,0.5);
}
#sequence2 {
    display: none;
    width:15%;
    margin:0 auto;
    opacity: 1;
    background-color: black;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
}
#sequence3 {
    display: none;
    width:15%;
    margin:0 auto;
    opacity: 1;
    background-color: black;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
}
.seqgrid{
    border-radius: 20px;
    height:100%;
    width:100%;
    background-color: black;
    -webkit-animation: anim2 ease-in-out 2s;
    animation-duration: 2s;
}
@-webkit-keyframes anim2{
    from { -webkit-transform: scale(1.0) rotate(0deg) }
    50%  { -webkit-transform: scale(0.8) rotate(180deg)}
    to   { -webkit-transform: scale(1.0) rotate(380deg)}
}
.symbol {
    display : none;
    width:200px;
    height:200px;
    margin:auto;
}
#game-header{
    width: 98.7%;
    display: none;
    background-image: url('../pictures/background.jpg');
    background-size: 100% 100%;
    border-radius: 20px;
    height: 440px;
    box-shadow: 6px 7px 8px 9px black;
}
#top-bar{
  background:rgba(0,0,0,0.7);
    margin-top:0;
    height: 80px;
    display: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#timer{
    padding-top: 20px;
    padding-right: 10px;
    color:white;
    float: right;
    text-shadow: 2px 3px 2px #000;
}
#life{
    padding-left: 10px;
    color:white;
    text-shadow: 2px 3px 2px #000;
}
#level{
    padding-left: 10px;
    padding-top: 5px;
    float:right;
    color:white;
}
#level1 h1{
    text-align:center;
    color: white;
    text-shadow: 2px 3px 2px #000;
}
#switch h1{
    font-size: 3em;
}
#leaderBoard{
    display: none;
    padding: 30px;
    font-size: 70%;
    background-image: url("../pictures/background.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width:280px;
    height:380px;
    box-shadow: 6px 7px 8px 9px black;
}
#leaderBoard table{
    text-align: center;
    width: 100%;
}
#leaderBoard h1{
    font-size: 3em;
}
#iconLeader{
    width: 40px;
    height: 40px;
    float: left;
}
#back{
    width: 40%;
    margin-top: 20%;
}
.nextPage{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nextPage:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-filter: blur(5px);
}
#ins1 .nextPage{
    margin-right: -30%;
    margin-left: 20%;
}
#ins2 .nextPage{
    margin-right: -20%;
}
#ins3 #back{
    margin-top: 5px;
}
.nextPage{
    width:30px;
    height: 30px;
}
#ins1 img{
    height: 300px;
}
#ins2 img{
    height: 250px;
}
#ins3 img{
    height: 250px;
}
#showLevel{
    display:none;
    font-size:5em;
    color: white;
    text-shadow: 2px 3px 2px #000;
    text-align: center;
    color: #fff;
    border-radius: 20px;
     width:280px;
    height:380px;
    margin-top: 100px;
    margin-left: 20px;
}
#music1{
    display: none;
    padding: 30px;
    font-size: 70%;
    background-image: url("../pictures/background.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width:280px;
    height:380px;
    box-shadow: 6px 7px 8px 9px black;
}
#music1 h1{
    font-size: 3em;
}
#musicIcon{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
#music1 label{
    font-size: 2em;
}
#music1 a{
    margin-top: 20px;
}
.lc{
    display: none;
}
input[type=range] {
    -webkit-appearance: none;
    background-color: white;
    width: 200px;
    height:5px;
    margin-bottom:50px;
    margin-top: 20px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: darkslategrey;
    opacity: 0.9;
    width: 10px;
    height: 30px;
}
label{
    font-size: 30px;
}
#ach{
    margin:auto;
    display: none;
    position:absolute;
    text-align: center;
    height:20px;
    color:white;
    font-size:2em;
}


#achievement{
    display: none;
    padding: 30px;
    font-size: 70%;
    background-image: url("../pictures/background.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width:280px;
    height:380px;
    box-shadow: 6px 7px 8px 9px black;
}
#achievementIcon{
    width: 40px;
    height: 40px;
    float: right;
}
#achievement table{
    text-align: center;
    width: 100%;
}
#achievement h1{
    font-size: 3em;
}

#locker{
    display : none;
}

#unlock{
    display: none;
}
.iconAchievements{
    background-color: black;
    height: 30px;
}
