body {
    margin-top: 30px;
    padding: 0;
    background-color:#fc0;
}
#showEggs{
     float:left;
     width:5%;
     height:100%;
     background-color: #fc0;
     padding-top: 250px;
}
#canvas{
    z-index: 999;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: none;
}
#gameSpace{
    margin:auto;
    max-width:600px;
    max-height:600px;
}
#startPage{
    padding: 50px;
    font-size: 20px;
    background-image: url("pictures/background.jpg");
    text-align: center;
    color: #fff;
    border-radius: 20px;
    height:681.5px;
    width:579px;
}
#startPage h1 {
    padding-top:30px;
    font-size: 4em;
    margin: .67em 0;
    margin-bottom: 2.5em;
    text-shadow: 2px 3px 2px #000;
}
#instruction{
    padding: 50px;
    font-size: 20px;
    background-image: url("pictures/background.jpg");
    text-align: center;
    color: #fff;
    border-radius: 20px;
    height:681.5px;
    width:579px;
    display: none;
}
#screen{
    display: none;
    background-color:green;
    width: 600px;
    height: 700px;
}
#startPage .btn {
    margin-top: 2em;
    width: 50%;
    max-width: 260px;
    border-color: #357ebd;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn {
    display: block;
    margin: auto;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: auto;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 30px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
a {
    text-decoration: none;
}
#grid-container{

    height: 630px;
    width: 630px;
    padding: 20px;
    margin-top:50px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    border:4px solid transparent;
    border-color: white;
    display: none;
}
#grid-container2{
    height: 630px;
    width: 630px;
    padding: 20px;
    margin-top:50px;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    border:4px solid transparent;
    border-color: white;
    display: none;
}
.map{
    border-radius: 12px;
    box-shadow: 5px 5px 30px black;
    background-color: black;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
}
.map2{
    border-radius: 12px;
    box-shadow: 5px 5px 30px black;
    background-color: black;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
}
.map:hover,.map2:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#sequence1{
    display: none;
    width:205px;
    margin:0 auto;
    padding: 20px;
    opacity: 1;
    background-color: black;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
}
#sequence2 {
    display: none;
    width:190px;
    margin:0 auto;
    padding: 20px;
    opacity: 1;
    background-color: black;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
}
#sequence3 {
    display: none;
    width:170px;
    margin:0 auto;
    padding: 20px;
    opacity: 1;
    background-color: black;
    -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
    filter: brightness(80%);
}
.symbol {
    display : none;
    margin:auto;
}
#game-header{
    width: 679px;
    display: none;
    background-image: url('pictures/background.jpg');
    border-radius: 20px;
}
#top-bar{
  height: 100px;
}
#timer{
    padding-left: 10px;
    color:white;
    text-shadow: 2px 3px 2px #000;
}
#life{
    padding-left: 10px;
    color:white;
    text-shadow: 2px 3px 2px #000;
}
#level{
    padding-left: 10px;
    padding-top: 5px;
    float:right;
    color:white;
}
#level1 h1{
    text-align:center;
    color: white;
    text-shadow: 2px 3px 2px #000;
}
#leaderBoard{
    display: none;
    padding: 50px;
    font-size: 20px;
    background-image: url("pictures/background.jpg");
    text-align: center;
    color: #fff;
    border-radius: 20px;
    height:681.5px;
    width:579px;
}
#leaderBoard table{
    text-align: center;
    width: 100%;
}
#leaderBoard h1{
    font-size: 3em;
}
#iconLeader{
    width: 70px;
    height: 70px;
    float: left;
}
#back{
    width: 40%;
    margin-top: 20%;
}
.nextPage{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
     
}
.nextPage:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-filter: blur(5px);
}
#ins1 .nextPage{
    margin-right: -40%;
    margin-left: 20%;
}
#ins2 .nextPage{
    margin-right: -20%;
}
#ins3 #back{
    margin-top: 20px;
}
#showLevel{
    display:none;
    font-size:5em;
    color: white;
    text-shadow: 2px 3px 2px #000;
    text-align: center;
    border-radius: 20px;
    height:482px;
    width:579px;
    margin-top: 200px;
    margin-left: 50px;
}
.seqgrid {
-webkit-animation: anim2 ease-in-out 2s; 
animation-duration: 2s;
}
@-webkit-keyframes anim2
{
   from { -webkit-transform: scale(1.0) rotate(0deg) }
   50%  { -webkit-transform: scale(0.8) rotate(180deg)}
   to   { -webkit-transform: scale(1.0) rotate(380deg)}
}