/*Popup content container */
#popup-content{
	background-color:black;
	background-image: url("pictures/background.jpg");
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	text-align: center;
	color:#FFF;
	display:none;
	max-width:500px;
	padding:0 10px 10px 10px;
	position:fixed;
	width:80%;
	height:50%;
	z-index:9002;
}
/*Popup form */
#popup-form{
	width:100%;
	margin:0 auto;
	margin-top:50px;
	font-size: 40px;
	text-shadow: 2px 3px 2px #000;
	font-style: inherit;
}
/*Popup mask black */
#overlay-bg{
	background-color:#000;
	height:100%;
	display:none;
	left:0;
	margin:auto;
	opacity:0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position:fixed;
	top:0;
 	width:100%;
 	z-index:9001;
  }
