body {
	margin-top: 30px;
	padding: 0;
    background-color:#fc0;
}
#gameSpace{
	margin:auto;
	max-width:600px;
	max-height:600px;
}
#startPage{
    padding: 50px;
    font-size: 20px;
    background-image: url("background.jpg");
    text-align: center;
    color: #fff;
}
#startPage h1 {
    padding-top:30px;
    font-size: 4em;
    margin: .67em 0;
    margin-bottom: 2.5em;
}
#instruction{
    position: fixed;
    display: none;
    background-color: green;
    color: #fff;
    margin:auto;
    top:0;
    left:0;
    bottom: 0;
    right:0;
}
#screen{
    display: none;
	background-color:green;
    width: 600px;
    height: 700px;;
}
#startPage .btn {
    margin-top: 2em;
    width: 50%;
    max-width: 260px;
    border-color: #357ebd;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn {
    display: block;
    margin: auto;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: auto;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 30px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

a {
    text-decoration: none;
}

#grid-container{
    height: 460px;
    width: 460px;
    padding: 20px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    border-color: white;
    display: none;
}
.map{
    height: 150px;
    width: 150px;
    border-radius: 6px;
    background-image: url('background.jpg');
}
#sequence1{
    display: none;
}


.symbol {
    display : none;
}


/*button的css*/
/*.start1{
				background: url("Start_btn.png") repeat scroll 0% 0% transparent; 
				width:600px;
				height:600px;
				border:0;
				padding:0;
				margin-top: 50px;
				margin-left: 10px;
				cursor:pointer;
			}
*/