body {
	margin: 0;
	padding: 0;

}

#gameSpace{
	margin:auto;
	max-width:600px;
	max-height:600px;
}

#startPage{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    font-size: 20px;
    background: #fc0;
    text-align: center;
    color: #fff;
}


#instruction{
    position: absolute;
    display: none;
    background-color: green;
    color: #fff;
    margin:auto;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    width: 800px;
    height: 600px;
    
}

#map{

	margin-top: 10px;
    padding: 1px;
	background-color:green;
	
}

#startPage .btn {
    margin-top: 4em;
    width: 50%;
    max-width: 300px;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: auto;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    
}
a {
    text-decoration: none;
}
/*button的css*/
/*.start1{
				background: url("Start_btn.png") repeat scroll 0% 0% transparent; 
				width:600px;
				height:600px;
				border:0;
				padding:0;
				margin-top: 50px;
				margin-left: 10px;
				cursor:pointer;
			}
*/